body {
    background-color: rgb(87, 87, 87);
    margin: 0;
    position: relative;
}

canvas {
    background: linear-gradient(rgb(113, 113, 226), rgb(150, 136, 136));
    border: 0.5vh solid rgb(58, 58, 58);
    border-radius: 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 99.3vw;
    height: 99vh;
    position: absolute;
}