body {
    background-color: rgb(87, 87, 87);
    margin: 0;
    position: relative;
}

canvas {
    background: linear-gradient(rgb(113, 113, 226), rgb(150, 136, 136));
    border: 0.5vh solid rgb(58, 58, 58);
    border-radius: 5vh;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}