# folders
Icon
venv
.idea
keys
__pycache__
.vscode

# scripts
test.py

# single files
.cache
.spotdl-cache
queue.json
user_playlists.json
ffmpeg.exe

# downloaded files
*mp3
*webm
*jpg
*spotdlTrackingFile
*zip
*rar