<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Player :)</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <canvas id="canvas"></canvas>
    <audio id="audio" controls autoplay="true" src="{{url_for('static', filename='songs/')}}" style="position: absolute;"></audio>
    <script src="{{url_for('static', filename='scritps/visualizer.js')}}" id="script" filename="{{filename}}"></script>
    <script src="{{url_for('static', filename='scritps/controller.js')}}" id="script" filename="{{filename}}"></script>
</body>
</html>