<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Music Player :)</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <canvas id="canvas"></canvas>
    <div id="controlls"></div>
    <div id="user_playlists"></div>
    <audio id="audio" src="{{file_path}}" style="position: absolute;"></audio>
    <script src="{{url_for('static', filename='scritps/tracks.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='scritps/init.js')}}" id="init_script" type="module"
        controller="{{controller}}" user_playlists="{{user_playlists}}" track="{{track}}"></script>
    <script src="{{url_for('static', filename='scritps/utilities.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='scritps/controller.js')}}" id="script" type="module"
        song_name="{{song_name}}"></script>
    <script src="{{url_for('static', filename='scritps/visualizer.js')}}" type="module"></script>
</body>

</html>